/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 20, 2016, 4:59:56 PM
    Author     : Qing_Zhou
*/
.card {
    background-color: white;
    margin: 40px auto;
    padding: 20px;
    width: 1200px;
    height:600px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    
}